<div class="flex flex-row gap-3">
  <img [src]="item.Poster" appImgNotFound height="300" width="300"/>
  <div class="flex flex-column gap-2">

    <ng-container *ngFor="let col of column">
      @if(col.type === 'text'){
      <div class="flex flex-row gap-1 w-26rem">
        <label class="font-bold">{{col.label}}: </label>
          <span>{{col.value}}</span>

    </div>
      }@else if(col.type === 'button'){
      <div class="flex gap-2">
      @for (item of col.value.split(','); track item) {
      <p-badge [value]="item"/>
      }
      </div>
      }
      @else if(col.type === 'rating'){
      <div class="flex flex-row gap-1 w-28rem">
        <label class="font-bold">{{col.label}} : </label>
        @for (item of col.value; track item.Source) {
        <span>{{item.Source}}: </span>
        <span>{{item.Value}}</span>
        }

      </div>
      }


    </ng-container>
  </div>

</div>
