

.g-topbar {
  position: absolute;
  left: 0; right: 0; top: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding: 12px 16px;
  color: #fff;
}

.g-title {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
