<form [formGroup]="filter" class="flex flex-column gap-2">
  <div class="flex flex-column gap-2">
    <label>
      Дата выхода
    </label>
    <p-date-picker [appendTo]="'body'" formControlName="date" view="year" dateFormat="yy" >

    </p-date-picker>
  </div>
  <div class="flex flex-column gap-2">
    <label>
      Рейтинг
    </label>

    <div class="slider-wrap" (mouseenter)="hover=true" (mouseleave)="hover=false">
      <p-slider
        formControlName="score"
        class="w-full">
      </p-slider>

      <div class="slider-tooltip"
           [style.left.%]="score"
           [class.hidden]="!hover">
        {{ score }}
      </div>
    </div>
    <div class="flex flex-row gap-2  justify-content-end">
      <p-button label="Сбросить" *ngIf="movieService.filterOn(filter.value)" (onClick)="filter.reset()" >

      </p-button>
      <p-button label="Применить" (onClick)="save()" >

      </p-button>

    </div>

  </div>



</form>
